@import "fonts"
$text-color: #232323

h1, h2, h3, h4, h5, h6
    font-family: "Oranienbaum", "Open Sans", sans-serif
    font-weight: normal
    color: $text-color

p, a, span, i, input
    font-family: "Open Sans", "Oranienbaum", sans-serif

p, span, i, a
    font-weight: normal
    font-size: 18px

.header--1
    font-size: 36px
    font-weight: bold
.header--2
    font-size: 32px
    font-weight: normal
    
.text--bold
    font-size: 20px
    font-weight: bold

.text--center
    text-align: center
